body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    background-color: #cd2a14;
    width: 100vw;
    box-sizing: border-box;
    border-bottom: 1px solid #000;
}

.logo {
    width: 100px;
    height: 100px;
    height: 100%;
}

.logo_whatsapp {
    width: 70px;
    height: 70px;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    height: 100%;
    list-style: none;
    font-size: 1.5em
}

a {
    text-decoration: none;
    color: #fff;
}

.hipervinculo_whatsapp {
    display: flex;
    align-items: center;
    height: 100%;
}

.menu_container {
    display: flex;
    justify-content: center;
}

.fondo-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.fondo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.menu {
    margin: 20px 0;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    width: 60%;
    height: auto;
    background-color: #ffe100da;
    border-radius: 15px;
}

ol {
    margin: 0;
    padding: 0;
}

ol li p {
    margin: 3px;
    font-size: 0.9em;
}

.menu ol li  {
    display: flex;
    justify-content: space-between;
    width: 300px;
}
