body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    background-color: #cd2a14;
    width: 100vw;
    box-sizing: border-box;
    border-bottom: 1px solid #000;
}

.logo {
    width: 100px;
    height: 100px;
    height: 100%;
}

.logo_whatsapp {
    width: 70px;
    height: 70px;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    height: 100%;
    list-style: none;
    font-size: 1.5em
}

a {
    text-decoration: none;
    color: #fff;
}

.hipervinculo_whatsapp {
    display: flex;
    align-items: center;
    height: 100%;
}

.menu_section {
    width: 100%;
    background-image: url('../images/fondo.png');
    background-size: cover;
    display: flex;
    justify-content: center;
}

.menu {
    margin: 20px 0;
    padding: 20px 0;
    width: 60%;
    background-color: #ffe100d8;
    border-radius: 15px;
    box-shadow: 0 0 5px #00000033;
}

.pizzas_normales {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.container_pizzas_especiales {
    margin: 10px 30px;
    padding: 15px 0;
    background-color: #ff330060;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 5px #00000033;
}

.texto_pizzas_especiales {
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 10px;
}

.pizzas_especiales {
    display: flex;
    justify-content: space-around;
}

ol {
    margin: 0;
    padding: 0;
}

ol li p {
    margin: 3px;
    font-size: 0.9em;
}

.menu ol li  {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.telefono_section {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #cd2a14de;
    color: #fff;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000000;

}

.logo_telefono {
    width: 60px;
    height: 60px;
    
}

.telefono {
    font-size: 2em
}

.container_footer {
    padding: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #444;
    color: #fff;
    text-align: center;
    font-weight: 300;
}

.container_medios_de_pago, .container_horario {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.logo_medios_de_pago {
    width: 40px;
    height: 40px;
}

.container_footer p {
    margin: 0 0 9px 0;
    font-size: 1.3em;
}

.desarrollado {
    padding: 8px 0;
    margin: 0;
    color: #fff;
    font-size: 16px;
    background-color: #333;
    text-align: center;
    border-top: 1px solid #000;
}
